html body {
  margin: 0;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  }

main{
  padding: 2em;
  max-width: 100%;
  box-sizing: border-box;
}


p {
    margin: 0;
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
}


h1{
  margin: 0;
  font-size: 24px;
}

h2{
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

h3{
    margin: 0;
}


/******************** Entête **********************/

.modale__openButton {
  width: 200px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  z-index: 999;
  top: 23px;
  right: 28px;
  left: auto;
  -webkit-transform: rotate(0deg);
  background: #3ebabe;
  cursor: pointer;
  font-size: medium;
}

.sourceINSEE{
  font-size: 10px;
  text-transform: uppercase;
  padding: 1em 0em;
}


/******************** Footer **********************/

.footerContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  max-width: 100%;
  background-color: #3ebabe;
  padding: 1em;
  color: white;
  bottom: 0;
  z-index: 999;
}

.footerContainer a {
  color: white;
  margin: 0;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
}

.foorterDiv{
  margin: auto;
}

.foorterParagraph{
  text-align: center;
}


.introductionBlockquote{
  font-size: 12px;
  margin: 0;
  max-width:100%;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #3ebabe ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  padding: 25px 30px 25px 75px;
}

.introductionBlockquote::before{
  content: "\201C";
  color:#3ebabe;
  font-size: 70px;
  position: absolute;
  left: 10px;
  top: -11px;
}

.introductionBlockquote::after{
  content: '';
}

.introductionBlockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


.mapContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.modale__overlay{
  position: fixed;
  top : 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(12, 12, 12, 0.762);
  z-index: 1200;

}

.modale{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 30%;
  max-height: 369px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 1%;
}

.modale__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: justify;
  margin: auto;
  box-sizing: border-box;
}

.modale__li{
  margin-top: 9px;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
}

.modale__paragraph {
  padding-top: 1em;
}

.modale__ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.5;
  padding: 0em;
  margin: 0em;
}

.modale__fermer{
  position: absolute;
  top: 21px;
  right: 24px;
  padding: 0.3em;
  color: #3ebabe;
  font-weight: 700;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

.hidden{
  display: none;
}

.container2{
  display: flex;
  flex-direction: row;
  max-width: 100%;
}


/****** Partie 1 **********/
.introduction{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0em 0em 2em 0em;
}


#mapAccidents{
  width: 100%;
  height: 100vh;
  margin-top: 1em;
}



/****** Infos dans les Popups de la carte **********/

.titreDansPopup {
padding: 0.3em;
margin-bottom: 0.7em;
background-color: rgb(205, 201, 200);
}

.leaflet-popup-content {
margin: 1;
}

/************ Légende carte ****************/

.legendeMapAccidents{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0 solid rgba(255, 255, 255, 0);
  margin: 0;
  z-index: 999;
  max-width: 90%;
  height: auto;
  padding-bottom: 2em;
  position: absolute;
  top: 87px;
  right: 91px;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25);
  padding: 25px;
}

.mapContainer__divs{
  padding: 15px 0px 5px 0px;
}

.infobulle {
  position: relative;  
  cursor: help;
}

.infobulle:hover::after,
.infobulle:focus::after {
  content: attr(aria-label);  
  position: absolute;
  top: 25px;
  left: 15%;
  transform: translateX(-50%); 
  z-index: 1;
  white-space: none;
  background-color:#ffffff;
  border: 0.25px solid #2c2c2c;
  padding:10px;
  opacity: 0.9;
  width:260px;
}

.leaflet-control-geocoder {
  box-shadow: 0 0px 0px !important;
  background-color: white !important;
  border-radius: 0px !important; 
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.25) !important;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
}


.mainDataContainer{
  display: flex;
  flex-direction: row;
  padding-top: 22px;
  flex-wrap: wrap;
}

.mainDataSubcontainer1{
  display: flex;
  flex-direction: column;
  width: 49%;
  background-color: #edededb7;
  padding-left: 13px;
  margin-right: 14px;
  margin-bottom: 15px;
}

.mainDataSubcontainer2 {
  display: flex;
  flex-direction: column;
  background-color: #edededb7;
  padding-left: 13px;
  width: 47%;
  margin-bottom: 15px;
  padding-right: 14px;
}

.mainDataContainer__graviteAccidents{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 13px;
  padding-right: 13px;
  background-color: #edededb7;
}

.paragraphe__graviteAccidents{
  margin-bottom: 33px;
}

.containerPieCharts {
  width: 58%;
  display: flex;
  flex-direction: row;
}
.mainDataContainer__conditionsEclairage{
  width: 46%;
  margin-left: 13px;
  margin-right: 13px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  background-color: #edededb7;
  padding-bottom: 1em;
}

.mainDataContainer__conditionsAtmospheriques{
  width: 46%;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  background-color: #edededb7;
}

.mainDataContainer__motifDeplacement{
  width: 100%;
  background-color: #edededb7;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.dataContainer0{
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

.donneesContainer{
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
  align-content: stretch;
  justify-content: space-between;
  flex-grow: 1;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
}

.donneesTitreetChiffre{
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  width: 40%;
  padding: 1em;
  margin: 1em;
  height: 147px;
  text-align: center;
  padding-top: 28px;
}

.donneesChiffre{
  font-weight: bold;
  padding: 1em;
  font-size: 20px;
  color: tomato;
}

.donneesChiffre1{
  font-weight: bold;
  padding: 1em 0.2em 1em 1em;
  font-size: 20px;
  color: tomato;
}

.donneesChiffreInfobulle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.dataAndTitle{
  display: flex;
  flex-direction: column;
  margin: auto;
}


/* Graphiques */
.chartParTrajet{
  width: 100%;
}

.containerChartParTrajet{
  display: flex;
  padding: 1em 0em;
  height: 100px;
}

.chartParGravite{
  display: flex;
  width: auto;
}

.containerChartParGravite{
  display: flex;
  padding: 1em 0em;
  height: 400px;
  align-items: center;
}

.paragraphe__lumAtmosph {
  margin-bottom: 3px;
}


/************ Partie 3 ****************/

.container3{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;

  max-height: auto;
  background-color: #ff111100;
  box-sizing: border-box;
}

.container3sousContainer{
  max-width: 50%;
  box-sizing: border-box;
  padding-right: 2em;
}

.container3sousContainer1{
  max-width: 60%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
}

.container3sousContainer1 p{
  padding-bottom: 2em;
}


.container3sousContainer1 div {
  width: 50%;
  background-color: #2df52a00;
  box-sizing: border-box;
  padding-right: 2em;
}




/******** 🟢 TABLETS / IPADS (portrait) *********/
@media (min-width: 768px) and (max-width: 1024px) {

  .modale {
    position: absolute;
    display: flex;
    top: -419px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 80%;
    max-height: 370px;
    background-color: rgb(255, 255, 255);
    padding: 2em;
    box-sizing: border-box;
    border-radius: 1%;
    }
  

  .mainDataSubcontainer1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    padding-right: 13px;
  }

  .mainDataSubcontainer2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    padding-right: 13px;
  }

  .dataContainer0{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .donneesTitreetChiffre{
    width: 100%;
    height: 67px;
  }

  .dataAndTitle{
    text-align: center;
  }

  .containerPieCharts {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .chartParGravite {
    width: 98%;
  }
  .paragraphe__graviteAccidents{
    margin-bottom: 10px;
  }

  .containerPieCharts {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mainDataContainer__conditionsEclairage {
    width: 47%;
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 0px;
  }
  
  .mainDataContainer__conditionsAtmospheriques {
    width: 45%;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    flex-direction: column;
  }

  .mainDataContainer__graviteAccidents {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding-left: 13px;
    padding-right: 13px;
  }

  .paragraphe__lumAtmosph {
    margin-bottom: 15px;
  }
  .modale__fermer {
    position: absolute;
    top: 21px;
    right: 24px;
    padding: 0.3em;
    color: #3ebabe;
    font-weight: 700;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .legendeMapAccidents{
    top: 118px;
    right: 10px;
  }
}










/******** 🟢 MOBILE *********/

@media screen and (max-width: 767px){
  
  p {
    font-size: 15px;
    color: black;
  }

  .sourceINSEE {
      font-size: 13px;
      text-transform: uppercase;
      padding: 1em 0em;
      color: black;
    }

  .introductionBlockquote {
    font-size: 15px;
  }

  .donneesChiffre1 {
    font-size: 25px;
  }

  .modale__openButton{
    width: 109px;
    position: relative;
    text-align: left;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    z-index: 999;
    padding-left: 23px;
    background: #3ebabe;
    cursor: pointer;
    font-size: medium;
    margin-bottom: 15px;
    -webkit-transform: rotate(0deg);
    left: 0px;
    top: 3px;
  }
  
  .mainDataSubcontainer1 {
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .mainDataSubcontainer2 {
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
  }


.mainDataContainer__graviteAccidents {
  width: 93%;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 10px;
}

.dataContainer0 {
  padding-top: 0px;
}

.containerPieCharts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainDataContainer__conditionsEclairage {
  width: 93%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 17px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

  .mainDataContainer__conditionsAtmospheriques{
    width: 93%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 17px;
    padding-left: 13px;
    padding-right: 13px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  h2{
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 20px;
    line-height: 25px;
  }

  .paragraphe__graviteAccidents{
    margin-bottom: 10px;
  }

  .mapContainer{
    display: none;
  }

  .mainDataContainer{
    padding-top: 0em;
  }

  .introduction{
    padding-bottom: 0.5em;
  }
  
  .textPopup{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: justify;
    margin: auto;
    box-sizing: border-box;
  }

  .textPopup p {
    padding-top: 1em;
  }

  .textPopup ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 1.5;
    padding: 0em;
    margin: 0em;
  }

  .popupFermer{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0.3em;
    color: #3ebabe;
    font-weight: 700;
    background-color: white;
    text-decoration: none;
  }


  .container2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  #mapAccidents{
    max-width: 100%;
    height: 100vh;
    margin-top: 1em;
  }

  
  .donneesContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  
  .donneesTitreetChiffre {
    width: 100%;
    height: 90px;
  }
  
  .donneesChiffre{
    font-weight: bold;
    padding: 1em;
    font-size: 25px;
    color: tomato;
  }
  
  
  /* Graphiques */
  .chartParTrajet{
    width: 100%;
  }
  
  .containerChartParTrajet{
    display: flex;
    padding: 1em 0em;
    height: 100px;
  }
  
  .chartParGravite{
    display: flex;
    width: auto;
  }
  
  .containerChartParGravite{
    display: flex;
    padding: 1em 0em;
    height: auto;
    align-items: center; 
  }

  .modale {
    position: absolute;
    top: -222px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 81%;
    min-height: 530px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 1%;
  }
  }


/******************** Partie 4 **********************/

.container4{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}






/**Test **/
#loading-bar-container {
  position: fixed;
  top: 50%;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 15px;
  background: #5c5d5d;
  z-index: 9999;
}

#loading-bar {
  height: 100%;
  width: 0%;
  background-color: #3ebabe;
  transition: width 0.2s ease-out;
}

body.loading {
  overflow: hidden;
}